	h1{
		background-color:#000401;
		margin-top:0px;
		margin-left:0px;
		margin-right:0px;
		padding-top:30px;
	}

	h2{
		
		font-size: 75px;
		font-family: 'Work Sans', sans-serif;
		font-weight:bolder;
		text-align: center;
		color: #000401;
		letter-spacing:5px;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
		
		
	}
	  
	 nav li{
		 display:inline;
		 font-family: 'Work Sans', sans-serif;
		 margin-right: 20px;
		 margin-left:20px;
		 font-size: 25px;
		 letter-spacing:2px;
		 
	}
		
	 nav li a:link {
		 text-decoration: none;
		 color:#f0e8d1;

	}
	 nav li a:visited{
		 color:#f0e8d1;

	}
	nav li a:active{
		font-style: italic;
		color:#f0e8d1;

	}
	 
	nav{
		margin-left: 0%;
		text-align: center;
		background-color:black;
		border-bottom: 6px solid;
		border-color:#3b3b3b; 
		line-height: 0.85;	
	}
	
	nav ul{
		  font-size: 18px;
		  text-align: left;
		  list-style-type:none;
		  display:inline-block;
	}

	footer {
		clear:both;
		text-align:center;
		padding-top:40px;
		font-family: 'Work Sans', sans-serif;
		font-size:small;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		color:#4E545C;
	}
	
	h3 {
		background-color:black;
		height:2px;
		color:white;
	}
		
	h4 {
		padding-left: 15%;
		font-family: 'Work Sans', sans-serif;
		font-weight:normal;
		font-size:35px;
		font-style: italic;
		margin-bottom: 0px;
		margin-left:-8%;
		padding-bottom:0%; 
		padding-top:5%;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	}
	
	div.para {
		font-family: 'Work Sans', sans-serif;
		line-height: 2.5;
		font-size: x-large;
		float:left;
		border: 2px solid;
		border-color:#8c8c8c;
		border-top-style:none;
		border-bottom-style:none;
		width:35%;
		padding-left:1%;
		padding-right: 3%;
		padding-top:1%;
		padding-bottom:3%;
		background-color:#f0e8d1;
		margin-left:5%;
		border-radius: 10px;
		text-align: justify;
		clear:both;
	}
	
	img{
		float:right;
		width: 50%;
		height: auto;
		position: relative;
		display: inline;
		overflow: hidden;
		margin: 0;
		margin-right: 20px;
		border: 1px solid #ddd;
		border-radius: 10px;
	}
	
	body {
		background-color: #ede9c2;

	}
	
	h5{
		text-align:center;
		font-family: 'Work Sans', sans-serif;
		font-weight:normal;
		font-size:16px;
		font-style: italic;
		margin-bottom: 0px;
		padding-bottom:0%; 
		padding-top:0%;
		padding-left:3%;
		margin-left:0%;
		margin-right:0%;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	}
	
	h6 {
		float:right;
		text-align:left;
		font-family: 'Work Sans', sans-serif;
		font-weight:normal;
		font-size:18px;
		font-style: italic;
		margin-bottom: 0px;
		padding-bottom:1%;
		margin-left:0%;
		margin-right:1%;
		padding-left:1%;
		padding-right:2%;
		padding-top:1%;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
		line-height: 1;
		border: 2px solid;
		border-color:#8c8c8c;
		border-top-style:none;
		border-bottom-style:none;
		background-color:#f0e8d1;
		border-radius: 10px;
		width:47%;

		position: relative;
		display: inline;
		overflow: hidden;
		
	}
	
	a:link{
		
		text-decoration:none;
	}


